
@import url('https://fonts.googleapis.com/css?family=Alegreya|Josefin+Sans|Mystery+Quest|Open+Sans');

.wrapper {
	width: 960px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #4A4A4A;
    padding: 0;
    margin: 0;
}

header {
	background-image: url("images/headshot2.png");
	background-height: 200px;
	height: 300px;
	padding: 20px;	
	border: 1px black solid;
	background-color: #FFED74;
	text-align: center;
}

p.white {
    color: #ffffff;
}

h1 {
	color: #ffe723;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
}

h3 {
	color: #4A4A4A;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

p {	
	font-family: 'Open Sans', sans-serif;
	}

nav {
	background-color: #E8C66A;
	padding: 20px;	
	border: 1px black solid;
}

article {
	background-color: #E89C6C;
	padding: 20px;	
	border: 1px black solid;
}

footer {
	background-color: #FF957E;
	padding: 20px;	
	border: 1px black solid;
}

section {
	background-color: #FFE2B8;
	padding: 20px;	
	border: 1px black solid;
}



