
@import url('https://fonts.googleapis.com/css?family=Alegreya|Josefin+Sans|Mystery+Quest|Open+Sans');

body {
	background-image: url("images/headshot2.png");
	background-size: cover;
	background-height: 200px;
	font-family: 'Open Sans'; sans-serif;
    text-align: center;
    color: white;
    padding-top: 180px;
}


p.italic {
    font-style: italic;
}

h1 {
	color: ffe723;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
}

h3 {
	color: ffe723;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

p {	
	font-family: 'Open Sans'; sans-serif;
	}
